body{
    background-color: rgb(239, 6, 6);
}
button{
    background-color: rgb(239, 6, 6);
}
header{
    text-align: center;
}
h1{
    color: beige;
}
h2{
    color: beige;
}
nav{
    text-align: center;
}
