body{
    background-color: rgb(0, 77, 165);
}
button{
    background-color: rgb(0, 77, 165);
}
header{
    text-align: center;
}
h1{
    color: beige;
}
h2{
    color: beige;
}
nav{
    text-align: center;
}
main{
    text-align: center;
}
